body {
    background-color: grey;
    color: white;
    font-size: 30px;
}

.row {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

#game {
    height: 600px;
    width: 600px;
    margin: auto;
}

.red.revelado {
    background-color: red;
}

.blue.revelado {
    background-color: blue;
}

.carta {
    color: white;
    background-color: black;
    padding: 50px;
    margin: 5px;
    font-size: 40px;
    text-align: center;
    font-style: italic;
}

p {
    margin: auto;
    font-family: fantasy, Helvetica, sans-serif;
}

.red:hover {
    cursor: pointer;
}

.blue:hover {
    cursor: pointer;
}

.boton-reset {
    width: 110px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    font-size: 30px;
}