body {
    background-image: url(/images/wallpaper.png);
    background-size: cover;
}

.row {
    display: flex;
    margin-top: 5px;
    justify-content: center;
}

#game {
    margin: auto;
}

.carta {
    color: white;
    background-image: url(/images/trasera.png);
    height: 300px;
    width: 200px;
    margin: 5px;
}

.red.revelado {
    background-image: url(/images/pantera.jpg);
}

.blue.revelado {
    background-image: url(/images/magaOscura.png);
}

.red:hover {
    cursor: pointer;
}

.blue:hover {
    cursor: pointer;
}

.boton-reset {
    width: 110px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    font-size: 30px;
}